
#boton_array{
    margin: auto;
    margin-bottom: 10px;
}

#boton_array1{
    margin: auto;
    margin-bottom: 10px;
}

#boton_array2{
    margin: auto;
    margin-bottom: 10px;
}

#contenedorarray{
    margin:auto;
    width: 30%;
}